body {
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(150deg, #f3904f, #3b4371);
    text-align: center;
}
.mainbox {
    text-align: left;
    display: inline-block;
    height: 500px;
    width: 850px;
    color: white;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.33);
    left: auto;
    margin-top: 200px;
    padding: 10px;
    outline: 3px solid;
    outline-color: black;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.33));
}
.t1 {
    font-family: "Mulish", sans-serif;
    margin-top: -5px;
}
.large1 {
    font-size: 50px;
}
